<H4>[TUTORIALES]</H4>
<!--INICIO CONTENIDO -->
<table style="border:solid;background-color:#ccc;color:#000">
<thead>
    <tr>
        <td>Aplicativo</td>
        <td>Repostorio</td>
        <td>Tutorial</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td><a href="/wwwroot/_angular/AngularGettingStarted/">Getting Started</a></td>
        <td><a href="javascript:void window.open('https://github.com/aperezNWO/AngularGettingStarted');">https://github.com/aperezNWO/AngularGettingStarted</a></td>
        <td><a href="javascript:void window.open('https://angular.io/start');">https://angular.io/start</a></td>
    </tr>
    <tr>
        <td><a href="/wwwroot/_angular/AngularTourOfHeroes/">Tour of Heroes</a></td>
        <td><a href="javascript:void window.open('https://github.com/aperezNWO/TourOfHeoresVSCode');">https://github.com/aperezNWO/TourOfHeoresVSCode</a></td>
        <td><a href="javascript:void window.open('https://angular.io/tutorial/tour-of-heroes');">https://angular.io/tutorial/tour-of-heroes</a></td>
    </tr>
    <tr>
        <td><a href="/wwwroot/_angular/AngularTemplateDrivenForm/">Template Driven Form</a></td>
        <td><a href="javascript:void window.open('https://github.com/aperezNWO/AngularTemplateDrienForm');">https://github.com/aperezNWO/AngularTemplateDrienForm</a></td>
        <td><a href="javascript:void window.open('https://angular.io/guide/forms');">https://angular.io/guide/forms</a></td>
    </tr>
    <tr>
        <td><a href="/wwwroot/_angular/AngularUIX/">[UIX/WEBAPI]</a></td>
        <td><a href="javascript:void window.open('https://github.com/aperezNWO/AngularUIX');">https://github.com/aperezNWO/AngularUIX</a></td>
        <td><a href="javascript:void window.open('https://material.angular.io/components/table/overview');">https://material.angular.io/components/table/overview</a></td>
    </tr>
    <tr>
        <td><a href="/wwwroot/_angular/AngularObservable/">[ASYNC PROG]</a></td>
        <td><a href="javascript:void window.open('https://github.com/aperezNWO/AngularObservable');">https://github.com/aperezNWO/AngularObservable</a></td>
        <td><a href="javascript:void window.open('https://angular.io/guide/observables');">https://angular.io/guide/observables</a></td>
    </tr>
</tbody>
</table>
