<hr/>
<div class="subtitle">
    <h2>{{title}}</h2>
</div>
<hr/>
<div class="navigation">
    <nav>
            <a routerLink="/HomeWebComponent">{{HomeWebComponent_pageTitle}}</a>
            |   
            <a routerLink="/AlgorithmWebComponent">{{AlgorithmWebComponent_pageTitle}}</a>
            |  
            <a routerLink="/FilesGenerationWebComponent">{{FilesGenerationWebComponent_pageTitle}}</a>
            |   
            <a routerLink="/AngularTutorialsnWebComponent">{{AngularTutorialsnWebComponent_pageTitle}}</a>
    </nav>
</div>
<hr/>
<router-outlet></router-outlet>
<hr/>
<div class="footer">
    <h5>Aplication Name    : {{appName}}</h5>
    <h5>Aplication Version : {{appVersion}}</h5>
    <h5>Angular Runtime    : {{runtimeVersion}}</h5>
</div>
<hr/>
