<div class="main-container">
    <div class="content">
        <div class="content-body">
            <div align="center" style="padding-top:10px;">
                <h4>{{this.pageTitle}}</h4>
            </div>
            <p>Ver referencia&nbsp;<a href="javascript: void window.open('https://en.wikipedia.org/wiki/Dijkstra\'s_algorithm')">[Algoritmo Dijkstra]</a></p>
            <p>Ver referencia&nbsp;<a href="javascript: void window.open('https://www.npmjs.com/package/jspdf')">[jsPDF]</a></p>
        </div>
        <hr />
        <div>
            <div id="tituloListadoDistancias">[Listado de Distancias]</div>
            <select id="DistanceList">
            </select>
        </div>
        <div>
            <!-- PANEL GRAFICO / INICIO -->
            <div id="divCanvas_Pdf" style="display: block; box-sizing: border-box; height: 255px; width: 255px;padding:5px;" height="255" width="255">
                <canvas id="c_canvas" #c_canvas width="250px" height="250px">
                </canvas>
            </div>
            <!-- PANEL GRAFICO / FIN     -->
        </div>
        <hr />
        <p>
            Cantidad de Puntos:
            <select id="vertexSizeList">
            </select>
        </p>
        <hr />
        <p>
            Punto de Origen:
            <select id="sourcePointList">
            </select>
        </p>
        <hr />
        <div>
            <input id="GetGraph" type="button" title="[GENERAR]"   value="[GENERAR]"   (click)="this._GetGraph()">
            |
            <input id="NewGraph" type="button" title="[REINICIAR]" value="[REINICIAR]" (click)="this._ResetControls()">
        </div>
        <hr />
            <input id="GetPDF" type="button" title="[GENERAR PDF]" value="[GENERAR PDF]" (click)="this.GetPDF()">
        <hr />
        <input id="PointListHidden" type="hidden" />
        <input id="MatrixListHidden" type="hidden" />
        <a href="/">Volver al Menú</a>
    </div>
</div>


