
<script type="text/javascript">
    //------------------------------------------------------------------------------------------------
    // DECLARACION DE VARIABLES
    //------------------------------------------------------------------------------------------------
    var vertexMax        = 9;
    var rectSize         = 10;
    var screenSize       = 250;
    var c_canvas         = document.getElementById("c");
    var context          = c_canvas.getContext("2d");
    var strokeStyleCafe  = "#654321";
    var strokeStyleVerde = "#006400";
    var strokeStyleRed   = "#ff0000";
    //
    function _ShowProgressBar()
    {
        //
        var modal = document.getElementById("statusWindow");
        modal.style.display = "block";
        //
        console.log('status window show');
        //
    }
    //
    function _HideProgressBar()
    {
        //
        var modal = document.getElementById("statusWindow");
        modal.style.display = "none";
        modal.style.display = "hidden";
        //
        console.log('status window hide');
        //
    }
    //
    function DrawGrid()
    {
        //
        context.clearRect(0, 0, c_canvas.width, c_canvas.height);
        context.beginPath();
        //
        for (var x = 0.5; x < 501; x += rectSize) {
            context.moveTo(x, 0);
            context.lineTo(x, 381);
        }
        //
        for (var y = 0.5; y < 381; y += rectSize) {
            context.moveTo(0, y);
            context.lineTo(500, y);
        }
        //
        context.strokeStyle = "#cccccc";
        context.stroke();
        //
    }
    //
    function pythagorean(sideA, sideB) {
        return Math.sqrt(Math.pow(sideA, 2) + Math.pow(sideB, 2)).toFixed(2);
    }
    //
    function DrawLine(x1, y1, x2, y2) {
        //--------------------------
        // Escalar coordenadas
        //--------------------------
        x1 = x1 * rectSize;
        x2 = x2 * rectSize;
        y1 = y1 * rectSize;
        y2 = y2 * rectSize;

        //--------------------------
        // Ajustar coordenada y
        //--------------------------
        var _y1 = (screenSize - y1);
        var _y2 = (screenSize - y2);


        //--------------------------
        // Dibujar Linea
        //--------------------------
        context.moveTo(x1, _y1);
        context.lineTo(x2, _y2);

    }
    //
    function DrawLines(pointArray, matrixArray,strokeStyle,drawingSubSet) {
        //
        console.log("DRAWING_LINES");

        //--------------------------------------------------------------------------
        // CREAR MATRIZ
        //--------------------------------------------------------------------------
        //
        // MATRIX : {0,16,0,0,0,0,0,0,0}|{16,0,21,0,0,12,0,18,0}|{0,21,0,0,18,0,10,0,19}|{0,0,0,0,20,2,5,0,0}|{0,0,18,20,0,19,0,4,0}|{0,12,0,2,19,0,5,17,0}|{0,0,10,5,0,5,0,0,0}|{0,18,0,0,4,17,0,0,2}|{0,0,19,0,0,0,0,2,0}
        //
        var pointArrayMaster = $("#PointListHidden").val().split("|");
        var matrix           = new Array(matrixArray.length);
        //
        for (index = 0; index < matrixArray.length; index++) {
            //
            matrix[index] = new Array(matrixArray.length);
        }
        //
        for (index_x = 0; index_x < matrixArray.length; index_x++) {
            //
            var matrixLine = matrixArray[index_x].replace("{", "").replace("}", "").split(",");
            //
            console.log("MATRIX ROW " + matrixLine);
            //
            for (index_y = 0; index_y < matrixLine.length; index_y++) {
                //
                var pointValue = matrixLine[index_y];
                //
                matrix[index_x][index_y] = pointValue;
                //
            }
        }

        //--------------------------------------------------------------------------
        // RECORRER MATRIZ
        //--------------------------------------------------------------------------
        //
        context.setLineDash([]);/*linea continua*/
        context.beginPath();
        //
        for (index_x = 0; index_x < matrixArray.length; index_x++) {
            //
            for (index_y = (index_x + 1); index_y < matrixArray.length; index_y++) {
                //
                var pointValue = matrix[index_x][index_y];
                //
                console.log("_MATRIX (" + index_x + "," + index_y + ") = " + pointValue);
                //
                // POINTS  : [11,7]|[3,21]|[22,11]|[13,19]|[8,0]|[15,18]|[12,14]|[6,3]|[4,4]
                //
                if (pointValue != "0") {
                    //
                    var pointSource = pointArray[index_x].replace("[", "").replace("]", "").split(",");
                    var pointDest   = pointArray[index_y].replace("[", "").replace("]", "").split(",");;
                    //
                    console.log("_DRAWING LINE FOR (" + pointValue + " )");
                    //
                    var x1 = parseInt(pointSource[0]);
                    var y1 = parseInt(pointSource[1]);
                    var x2 = parseInt(pointDest[0]);
                    var y2 = parseInt(pointDest[1]);


                    //-----------------------------------------------------------------
                    // SI ES UN SUBCONJUNTO DE LINEAS, COMPARAR ARREGLO CON MAESTRO
                    //-----------------------------------------------------------------
                
                    //
                    var drawLine = true;

                    //
                    if (drawingSubSet == true)
                    {
                        if (pointArray[index_x] != pointArrayMaster[index_x])
                            drawLine = false;

                        if (pointArray[index_y] != pointArrayMaster[index_y])
                            drawLine = false;    
                    }    

                    //
                    if (drawLine == true)
                        DrawLine(x1, y1, x2, y2);
                }
            }
        }
        //
        context.strokeStyle = strokeStyle;
        context.stroke();

    }
    //
    function DrawPoint(pointName, x, y, strokeStyle) {
        //--------------------------
        // Escalar coordenadas
        //--------------------------
        x = x * rectSize;
        y = y * rectSize;

        //-------------------
        // Linea vertical
        //-------------------
        context.setLineDash([]);/*linea continua*/
        context.beginPath();
        context.moveTo(x, (screenSize - y) - (rectSize / 2));
        context.lineTo(x, (screenSize - y) + (rectSize / 2));
        context.strokeStyle = strokeStyle;
        context.stroke();
        //-------------------
        // Linea horizontal
        //-------------------
        context.setLineDash([]);/*linea continua*/
        context.beginPath();
        context.moveTo(x - (rectSize / 2), (screenSize - y));
        context.lineTo(x + (rectSize / 2), (screenSize - y));
        context.strokeStyle = strokeStyle;
        context.stroke();
        //-------------------
        // Nombre del Punto
        //-------------------
        var fullPointName = pointName + "(" + (x / rectSize) + "," + (y / rectSize) + ")";
        context.font      = "x-small Arial";
        context.fillText(fullPointName, (x + (rectSize / 2)), (screenSize - y));
        //
    }
    //
    function DrawPoints(points, strokeStyle) {
        //
        for (index = 0; index < points.length; index++) {
            //
            var coordinates = '';
            coordinates = points[index];
            coordinates = coordinates.replace('[', '');
            coordinates = coordinates.replace(']', '');
            //
            var coordinateArray = coordinates.split(',');
            var coordinate_x = coordinateArray[0];
            var coordinate_y = coordinateArray[1];
            //
            console.log("coordinate [" + index + "] : " + points[index] + " ");
            //
            DrawPoint(index, coordinate_x, coordinate_y, strokeStyle);
        }
    }
    //
    function DrawListItems()
    {
        //-----------------------------------------------------------------------------
        // TAMAÑO DE VERTICE
        //-----------------------------------------------------------------------------
        var vertexMaxString = new String(vertexMax);
        //
        $('#vertexSizeList').children().remove().end();
        //
        for (var index = vertexMax; index >= 1; index--) {
            $('#vertexSizeList').append($('<option>', { value: (index), text: (new String(index)) }));
        }
        //
        $('#vertexSizeList').val(vertexMaxString);

        //-----------------------------------------------------------------------------
        // PUNTO DE ORIGEN
        //-----------------------------------------------------------------------------
        $('#sourcePointList').children().remove().end();
        //
        for (var index = 0; index < vertexMax; index++) {
            $('#sourcePointList').append($('<option>', { value: (index), text: (new String(index)) }));
        }
        //        
        $('#sourcePointList').val("0");
    }
    //
    function DrawDistanceList(clearItems, Items)
    {
        //
        $('#DistanceList').children().remove().end();

        //
        if (clearItems == false)
        {
            //
            var stringItems = Items.split("<br/>");

            //
            $('#DistanceList').append($('<option>', { value: 0, text:"(SELECCIONE_DISTANCIA)"}));
            //
            for (var index = 0; index < stringItems.length; index++)
            {
                // EJEMPLO
                // 01&lt;[14;2]&gt;-26-(0; 7)(7; 6)(6; 1)
                // 01<[14;2]>;-26-(0; 7)(7; 6)(6; 1)

                //
                var stringItem = "";
                //
                stringItem = stringItems[index].replace("&lt;", "<").replace("&gt;", ">");
                stringItem = DebugHostingContent(stringItem);
                
                //
                $('#DistanceList').append($('<option>', { value: (index + 1), text: (stringItem) }));
            }
        }
    }
    //
    function _ResetControls()
    {
        //
        _ShowProgressBar();
        //
        $('#tituloListadoDistancias').text('');
        //
        $('#DistanceList').attr('style', 'width:250px;display:none;');
        //
        DrawListItems();
        //
        DrawDistanceList(true, "");
        //
        $("#vertexSizeList").attr('disabled', false);
        //
        $('#sourcePointList').attr('disabled', false);
        //
        $('#mensajes').html('[PENDIENTE_GENERAR]');
        //
        $('#NewGraph').attr('disabled', true);
        //
        $('#GetGraph').attr('disabled', false);
        //
        $('#PointListHidden').val('');
        //
        $('#MatrixListHidden').val('');
        //
        DrawGrid();
        //
        _HideProgressBar();
    }
    //
    function GetPdf()
    {   //
        html2canvas($("#c")[0]).then((canvas) => {
            //
            var w = document.getElementById("divPieChart").offsetWidth;
            var h = document.getElementById("divPieChart").offsetHeight;
            //
            /*
            var imgData              = canvas.toDataURL('image/png');
            //
            var p_orientation        = 'p';  // LANDSCAPE  - POTRAIT
            var p_measurement_unit   = 'mm'; // MILIMETERS
            var doc                  = new jsPDF(p_orientation, p_measurement_unit );
            //
            doc.addImage(imgData, 'PNG', 20, -10);
            //
            doc.save('sample-file.pdf');
            */
            var img = canvas.toDataURL("image/jpeg", 1);
            var doc = new jsPDF('L', 'px', [w, h]);
            doc.addImage(img, 'JPEG', 0, 0, w, h);
            doc.save('sample-file.pdf');
        });
    };
    //
    $(document).ready(function ()
    {
        try
        {
            //
            console.log('[ALGORITMO DE DIJKSTRA]');
            //
            _ResetControls();
        }
        catch (error)
        {
            //
            console.error(error);
            //
            alert('error cargando pagina');
            //
        }

    })
    //
    $("#vertexSizeList").change(function ()
    {
        var vertexSizeVal = $("#vertexSizeList").val();

        $('#sourcePointList').children().remove().end();
        //
        for (var index = 0; index < vertexSizeVal; index++)
        {
            $('#sourcePointList').append($('<option>', { value: (index), text: (new String(index)) }));
        }
        //        
        $('#sourcePointList').val("0");
    });
    //
    $("#DistanceList").change(function () {

        //
        var distanceListVal = $("#DistanceList option:selected").text();

        //
        if (distanceListVal != 0)
        {
            //
            var pointList         = $('#PointListHidden').val().split("|");
            var matrixList        = $('#MatrixListHidden').val().split("|");

            //
            DrawGrid();
            //
            DrawPoints(pointList, strokeStyleCafe);
            //
            DrawLines(pointList, matrixList, strokeStyleVerde, false);

            //
            var distenceListItems = distanceListVal.split("-");
            var path              = distenceListItems[2];

            //
            if (path != "")
            { 
                while (path.indexOf(";") != -1)
                {
                    path = path.replace(";", ",");
                }
                var selectedPoints  = path.split("≡");
                var emptyPoints     = new Array(pointList.length);

                //
                for (index = 0; index < pointList.length; index++)
                {
                    emptyPoints[index] = "[0,0]";
                }
                //
                for (index_y = 0; index_y < selectedPoints.length; index_y++)
                { 
                    if  (selectedPointsVal != "")
                    {
                        //
                        var selectedPointsVal = selectedPoints[index_y].replace("[", "").replace("]", "").split(",");
                        var coordSource       = selectedPointsVal[0];
                        var coordDest         = selectedPointsVal[1];

                        //
                        emptyPoints[coordSource] = pointList[coordSource];
                        emptyPoints[coordDest] = pointList[coordDest];

                    }
                }

                //
                DrawLines(emptyPoints, matrixList, strokeStyleRed   , true);
            }
        }
    });
    //
    $("#GetGraph").click(function ()
    {
        try
        {
            //
            var vertexSize  = $('#vertexSizeList').val();
            var sourcePoint = $('#sourcePointList').val();
            //
            var p_url       = "GenerateRandomVertex";
            //
            _ShowProgressBar();
            //
            $.ajax(
                {
                     url: p_url
                    ,data:
                    {
                         p_vertexSize  : vertexSize
                        ,p_sourcePoint : sourcePoint
                    }
                })
                .done(function (data) {
                    //
                    console.log('DIJKSTRA_DEMO. GET RANDOM VERTEX : ' + data);
                    //

                    //------------------------------------------------------------
                    // OBTENER PUNTOS
                    //------------------------------------------------------------
                    var dataArray = data.split("■");
                    //
                    var pointsString = dataArray[0];
                    //
                    console.log('POINTS : ' + pointsString);
                    //
                    var pointArray = pointsString.split('|');
                    //
                    DrawGrid();
                    //
                    DrawPoints(pointArray, strokeStyleCafe);

                    //-------------------------------------------------------------
                    // OBTENER MATRIZ - DIBUJAR LINEAS
                    //-------------------------------------------------------------

                    var matrixString = dataArray[1];
                    //
                    console.log('MATRIX : ' + matrixString);
                    //
                    var matrixArray = matrixString.split('|');
                    //
                    DrawLines(pointArray, matrixArray, strokeStyleVerde, new Boolean(false));

                    //-------------------------------------------------------------
                    // OBTENER VERTICES DE DISTANCIAS
                    //-------------------------------------------------------------
                    var vertexString = dataArray[2];
                    //
                    console.log('VERTEX : ' + vertexString);

                    //-------------------------------------------------------------
                    // CONFIGURA CONTROLES
                    //-------------------------------------------------------------
                    //
                    $('#tituloListadoDistancias').text('Listado de Distancies desde (' + sourcePoint + ')');
                    //
                    $('#DistanceList').attr('style', 'width:250px;display:inline');
                    //
                    $("#vertexSizeList").attr('disabled', true);
                    //
                    $('#sourcePointList').attr('disabled', true);
                    //
                    DrawDistanceList(false,vertexString);
                    //
                    $('#NewGraph').attr('disabled', false);
                    //
                    $('#GetGraph').attr('disabled', true);
                    //
                    $('#PointListHidden').val(pointsString);
                    //
                    $('#MatrixListHidden').val(matrixString);
                    //
                    _HideProgressBar();
                    //
                    return true;
                    //
                })
                .fail(function (jqXHR, textStatus, errorThrown)
                {
                    //
                    _HideProgressBar();
                    //
                    console.log('ERROR EN DIJKSTRA_DEMO : ' + textStatus);
                    //
                    console.log('ERROR EN DIJKSTRA_DEMO :  : ' + errorThrown);
                    //
                    alert("ERROR EN DIJKSTRA_DEMO : ");
                    //
                    return false;
                });
            //
        }
        catch (error)
        {
            //
            _HideProgressBar();
            //
            alert("ERROR EN PROCEDIMIENTO");
            //
            console.error(error);
            //
            return false;
            //
        }
        //
    });
    //
    $("#NewGraph").click(function ()
    {
        try
        {
            //
            _ResetControls();
            //
        }
        catch (error)
        {
            //
            _HideProgressBar();
            //
            alert("ERROR EN PROCEDIMIENTO");
            //
            console.error(error);
            //
            return false;
            //
        }
        //
    });
    //
    $("#GetPDF").click(function() {
        //
        console.log("GET PDF");
        //
        GetPdf();
    });
</script>
<div class="main-container">
    <div class="content">
        <div class="content-body">
            <div align="center" style="padding-top:10px;">
                <h4>{{this.pageTitle}}</h4>
            </div>
            <p>Ver referencia&nbsp;<a href="javascript: void window.open('https://en.wikipedia.org/wiki/Dijkstra\'s_algorithm')">[Algoritmo Dijkstra]</a></p>
            <p>Ver referencia&nbsp;<a href="javascript: void window.open('https://www.npmjs.com/package/jspdf')">[jsPDF]</a></p>
        </div>
        <hr />
        <div>
            <div id="tituloListadoDistancias">[Listado de Distancias]</div>
            <select id="DistanceList">
            </select>
        </div>
        <div>
            <!-- PANEL GRAFICO / INICIO -->
            <div id="divPieChart" style="display: block; box-sizing: border-box; height: 255px; width: 255px;padding:5px;" height="255" width="255">
                <canvas id="c" width="250px" height="250px">
                </canvas>
            </div>
            <!-- PANEL GRAFICO / FIN     -->
        </div>
        <hr />
        <p>
            Cantidad de Puntos:
            <select id="vertexSizeList">
            </select>
        </p>
        <hr />
        <p>
            Punto de Origen:
            <select id="sourcePointList">
            </select>
        </p>
        <hr />
        <div>
            <input id="GetGraph" type="button" title="[GENERAR]" value="[GENERAR]">
            |
            <input id="NewGraph" type="button" title="[REINICIAR]" value="[REINICIAR]" disabled="disabled">
        </div>
        <hr />
            <input id="GetPDF" type="button" title="[GENERAR PDF]" value="[GENERAR PDF]">
        <hr />
        <input id="PointListHidden" type="hidden" />
        <input id="MatrixListHidden" type="hidden" />
        <a href="../Demos/_DemosIndex?lang=1">Volver al Menú</a>
        <!-- INICIO VENTANA MODAL TRANSCURSO OPERACION -->
        <div id="statusWindow" class="modalStatus" style="display:none">
            <div class="modalStatus-content">
                ... Procesando ...
            </div>
        </div>
        <!-- FIN VENTANA MODAL TRANSCURSO DE OPERACION -->
    </div>
</div>


