<div class="content">
        <div class="content-body">
            <p>[ALGORITMOS - EXPRESIONES REGULARES]</p>
            <p>Ver referencia&nbsp;<a href="javascript: void window.open('https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex?view=net-5.0')">[Clase "RegEx"]</a></p>
        </div>
        <hr>
        <p>Contenido a Buscar</p>
        <div id="XmlContent">
            <div id="global">
                <div id="mensajes" #mensajes>
                </div>
            </div>
        </div>
        <div>
            <fieldset>
                <legend></legend>
                <label for="tagSearch">ELEMENTO A BUSCAR : </label>
                <select id="tagSearch" class="fieldSetRegex">
                    <option value="0">[SELECCIONE_OPCION]</option>
                    <option value="title">title</option>
                    <option value="artist">artist</option>
                    <option value="country">country</option>
                    <option value="company" selected="selected">company</option>
                    <option value="price">price</option>
                    <option value="year">year</option>
                </select>
                <br>
                <label for="textSearch">CONTENIDO : </label>
                <input type="text" id="textSearch" class="fieldSetRegex" value="">
                <br>
                <label for="regExSearch">EXPRESION REGULAR : </label>
                <input type="text" id="regExSearch" class="fieldSetRegex" style="background-color:#cccccc;" value="" readonly="readonly">
                <br>
            </fieldset>
            <hr>
        </div>
        <div>
            <input id="GetRegex" type="button" title="[BUSCAR]" value="[BUSCAR]">
            |
            <input id="newSearch" type="button" title="[REINICIAR]" value="[REINICIAR]" disabled="disabled">
        </div>
        <hr>
        <a href="../Demos/_DemosIndex?lang=1">Volver al Menú</a>
        <!-- INICIO VENTANA MODAL TRANSCURSO OPERACION -->
        <div id="statusWindow" class="modalStatus" style="display:none">
            <div class="modalStatus-content">
                ... Procesando ...
            </div>
        </div>
        <!-- FIN VENTANA MODAL TRANSCURSO DE OPERACION -->
</div>
