<div align="center" style="padding-top:10px;">
  <h4>{{pageTitle}}</h4>
</div>
<mat-tab-group>
  <mat-tab label="[CONSULTA_1 (TEMPLATE DRIVEN)]">
    <div align="center" style="padding-top:10px;">
      <h5>[CONSULTA_1 (TEMPLATE DRIVEN)]</h5>
      <div class="mat-elevation-z8">
          <!-- INIT SEARCH PANEL -->
          <div class="searchPanel">
          <form (ngSubmit)="_td_onSubmit()">

          </form> 
          </div>
          <!-- END SEARCH PANEL -->
          <!-- INIT DATAGRID -->
          <!-- END DATAGRID -->
          <!-- INIT PAGINATOR -->
          <!-- END  PAGINATOR -->  
      </div>
    </div>
  </mat-tab>
  <mat-tab label="[CONSULTA_2 (REACTIVE)]">
    <div align="center" style="padding-top:10px;">
    <h5>[CONSULTA_2 (REACTIVE)]</h5>
    </div>
    <div class="mat-elevation-z8">
        <div class="searchPanel">
          <form [formGroup]="rf_searchForm" (ngSubmit)="onSubmit()">
            <!--P_ROW_NUM-->
            <div>
              <label for="_P_ROW_NUM">
                # de Registros :
              </label>
              <input id="_P_ROW_NUM" type="text" formControlName="_P_ROW_NUM">
            </div>
            <!--P_FECHA_INICIO-->
            <div>
              <label for="_P_FECHA_INICIO">
                Fecha Inicial :
              </label>
              <input id="_P_FECHA_INICIO" type="date" formControlName="_P_FECHA_INICIO">
            </div>
            <!--P_FECHA_FIN-->
            <div>
              <label for="_P_FECHA_FIN">
                Fecha Final :
              </label>
              <input id="_P_FECHA_FIN" type="date" formControlName="_P_FECHA_FIN">
            </div>
            <!-- INICIO BUTTONS PANEL        -->
            <hr>
            <div align="right">
              <button class="button" type="submit" [disabled]="(this.rf_buttonCaption != '[Buscar]')">{{this.rf_buttonCaption}}</button>
              <button class="button" type="button" (click)="this.newSearch()">[Nueva]</button>
            </div>
            <!-- FIN BUTTONS PANEL           -->
            <!-- INICIO MENSAJES VALIDACION (REACTIVE)-->
            <div align="left">
              <ul *ngIf="(this.rf_searchForm.invalid) && (this.rf_formSubmit == true)" class="alert alert-danger">
                    <p>Favor revise los datos del formulario</p>
                    <li *ngIf="((this.rf_searchForm.value['_P_ROW_NUM'] == null) ||  (this.rf_searchForm.value['_P_ROW_NUM'] == '') || (this.rf_searchForm.value['_P_ROW_NUM'] == '0') ) && (this.rf_formSubmit == true)" class="alert alert-danger">
                      El campo '# de Registros' es requerido.
                    </li>
                    <li *ngIf="(((this.rf_searchForm.value['_P_FECHA_INICIO'] == null)  || (this.rf_searchForm.value['_P_FECHA_INICIO'] == '') ) && (this.rf_formSubmit == true) )" class="alert alert-danger">
                      El campo 'Fecha Inicial' es requerido.
                    </li>
              </ul>
            </div>
            <!-- FIN MENSAJES DE VALIDACION (REACTIVE)-->
            <!-- INICIO STATUS BUSQUEDA      -->
            <!--<hr>-->
            <div align="center">
              <span id="status" name="searchStatus" class="searchStatus" id="searchStatus">{{this.rf_textStatus}}</span>
            </div>
            <!-- FIN    STATUS BUSQUEDA      -->
            <!-- INICIO DESCARGA EXCEL       -->
            <hr>
            <div id="divdescargaexcel" style="display: block;" align="right">
              <br>
              <button class="button" type="button" (click)="GenerarInformeXLSValidate()" [disabled]="(this.rf_buttonCaption_xls != '[Generar Excel]')">{{this.rf_buttonCaption_xls}}</button>
              <br>
              <br>
              <a [href]="this.rf_ExcelDownloadLink" id="DownloadFile">{{this.rf_textStatus_xls}}</a>
            </div>
            <!-- FIN DESCARGA EXCEL          -->
            <hr>  
          </form>
        </div>
        <table  mat-table  [dataSource]="rf_dataSource"  class="mat-elevation-z8" aria-label="informelogremoto">
          <ng-container matColumnDef="id_Column">
            <th mat-header-cell *matHeaderCellDef>id_Column</th>
            <td mat-cell *matCellDef="let element">{{ element.id_Column}}</td>
          </ng-container>
          <ng-container matColumnDef="pageName">
            <th mat-header-cell *matHeaderCellDef>pageName</th>
            <td mat-cell *matCellDef="let element">{{ element.pageName }}</td>
          </ng-container>
          <ng-container matColumnDef="accessDate">
            <th mat-header-cell *matHeaderCellDef>accessDate</th>
            <td mat-cell *matCellDef="let element">{{ element.accessDate }}</td>
          </ng-container>
          <ng-container matColumnDef="ipValue">
            <th mat-header-cell *matHeaderCellDef>ipValue</th>
            <td mat-cell *matCellDef="let element">{{ element.ipValue }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="rf_displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: rf_displayedColumns"></tr>
        </table>
        <hr>
        <mat-paginator #paginator="matPaginator"
            class="demo-paginator" 
            [length]=""
            [pageSize]="10"
            [pageSizeOptions]="[3, 10, 25, 100]"
            aria-label="informelogremoto"></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="[CONSULTA_3 (ESTADISTICAS)]">
    <div align="center" style="padding-top:10px;">
    <h5>[CONSULTA_3 (ESTADISTICAS)]</h5>
    </div>
  </mat-tab>
</mat-tab-group>    
    