<div class="main-container">
    <div class="content">
        <div align="center" style="padding-top:10px;">
            <h4>{{this.pageTitle}}</h4>
        </div>
    <hr>
    <div>
        PABLO ALEJANDRO PEREZ ACOSTA
        <br>
        .NET PROGRAMMER
        <br>
        <ul>
            <li><a href="javascript: void window.open('mailto:alejandro.perez.acosta@gmail.com')">EMAIL</a></li>
            <li><a href="javascript: void window.open('http://www.linkedin.com/in/pablo-alejandro-pérez-acosta-54765770')">LINKEDIN</a></li>
            <li><a href="javascript: void window.open('https://1drv.ms/b/s!AtOAyZ4M_v9YjnIJ3Qi4qs1KyVBD?e=QkDQnG')">CURRICULUM</a></li>
        </ul>
    </div>
    <hr>
    <a href="/">Volver al Menú</a>
</div>