<div align="center" class="animate">
  @for (page of this._pages_nested; track page) {
    <span >
      <!-- WARNING : ROOT MUST NOT HAVE "./#/" STYLE -->
      @if (page.queryParams)
        {
        <a [routerLink]="[page.routerLink]"  [queryParams]="page.queryParamsObj">
          <img
            [src]="[page.text]"
            [alt]="'Logo'"
            class="me-1"
            style="width: 45px"
            />
          </a>
        }
        @else
        {
        <a [routerLink]="[page.url]">
          <img
            [src]="[page.text]"
            [alt]="'Logo'"
            class="me-1"
            style="width: 45px"
            />
          </a>
        }
      </span>
    }
  </div>
